.header-container{
    display: flex;
    padding: 64px 64px;
    justify-content: space-between;
    
}
.left-title-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.right-btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    padding: 10px;
    background-color: #D66853;
    color: #F8F4F9;
    border-radius: 6px;
    border: none;
}
p{
    color: #212D40;
}
h3{
    font-size: 2rem;
    font-weight: 600;
}

.board-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 24px;
    max-width: 900px;
    margin: 0 auto;
}